.main {
  margin-top: 3rem;
  display: flex;

  flex-direction: column;

  justify-content: center;

  align-items: center;

  gap: 1rem;
}

.input-text {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.generatebutton {
  width: 90%;
  height: 3rem;
  font-family: "Karla";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;

  text-align: center;
  letter-spacing: -0.1em;

  color: #ffffff;

  background: linear-gradient(90.41deg, #711f8d 1.14%, #a818da 100%);
  border-radius: 5px;
}

.toptext {
  width: 35vw;
  height: 5vh;
  border: 1px solid #d5d4d8;
  border-radius: 5px;
  font-family: "Karla";
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 14px;
  color: #0d0d0d;
}

.bottomtext {
  width: 35vw;
  height: 5vh;
  border: 1px solid #d5d4d8;
  border-radius: 5px;
  font-family: "Karla";
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 14px;
  color: #0d0d0d;
}

.IMG-container {
  color: aliceblue;
  display: flex;
  justify-content: center;
  position: relative;
  border: solid;
  width: 90%;
  height: 90%;
}
.Top-text {
  justify-content: center;
  width: 60%;
  font-size: 2em;
  height: fit-content;
  position: absolute;
  top: 0;

  text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000,
    -2px 2px 0 #000, 0 2px 0 #000, 2px 0 0 #000, 0 -2px 0 #000, -2px 0 0 #000,
    2px 2px 5px #000;
}

.Bottom-text {
  justify-content: center;
  width: 60%;
  font-size: 2em;
  height: fit-content;
  position: absolute;
  bottom: 0;

  text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000,
    -2px 2px 0 #000, 0 2px 0 #000, 2px 0 0 #000, 0 -2px 0 #000, -2px 0 0 #000,
    2px 2px 5px #000;
}

.memeimg {
  width: 80%;
  height: 80%;
}
@media only screen and (max-width: 750px) {
  .Top-text,
  .Bottom-text {
    font-size: 1em;
  }
}
