.Nav {
  display: flex;
  justify-content: space-between;
  padding-left: 2em;
  padding-right: 2em;
  align-items: center;
  background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
}

@media only screen and (max-width: 400px) {
  .Nav h2 {
    font-size: 1em;
  }
}
